/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  list-style: none;
}

body, html{
width: 100%;
height: 100vh;
background: white;
background-size: cover;
}

.list{
position: absolute;
left: 0;
top: 0;
margin: 0px;
width: 100%;
color: rebeccapurple;
background-color: black;
font-size: 18px;
padding: 25px 9%;
text-decoration: underline;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
}

.list ul li a.active,a:hover{
background-color: rgba(92, 41, 144, 0.25);
cursor: pointer;
border-radius: 10px;
border: 1px solid rgba(108, 192, 234, 0.25);
padding: 10px;
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.heading{
  margin: 85px;
  color: rebeccapurple;
  font-size: 50px;
  text-decoration: underline;
  text-shadow: 4px 4px 2px rgba(84, 82, 82, 0.6);
}
.heading1{
  margin: 20px;
  font-size: 30px;
  color: rebeccapurple;
  text-decoration: underline;
}

.para{
border: 1px solid transparent;
width: 500px;
height: auto;
margin-left: 50px;
background-color: rgb(181, 166, 197);
background: url(assets/images/background3.png);
background-position: center;
background-size: cover;
text-align:justify;
font-size: 18px;
padding: 10px;
border-radius: 8px 8px 8px 8px;
box-shadow: rgba(7, 7, 7, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
position: absolute;
margin-left: 500px;

}

.heading2{
  margin-top: 280px;
  font-size: 30px;
  color: rebeccapurple;
  text-decoration: underline;
}


.para1{
border: 1px solid transparent;
width: 500px;
height: auto;
background-color: rgb(181, 166, 197);
background: url(assets/images/background3.png);
background-position: center;
background-size: cover;
text-align:justify;
font-size: 18px;
padding: 10px;
border-radius: 8px 8px 8px 8px;
box-shadow: rgba(7, 7, 7, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
/* position: relative;
margin-left: 250px;
margin-bottom: 300px; */
display: flex;
justify-content: center;
align-items: center;
margin-left: 200px;
margin-top: 45px;

}

.para2{
border: 1px solid transparent;
width: 500px;
height: 301px;
background-color: rgb(181, 166, 197);
background: url(assets/images/background3.png);
background-position: center;
background-size: cover;
text-align:justify;
font-size: 18px;
padding: 10px;
border-radius: 8px 8px 8px 8px;
box-shadow: rgba(7, 7, 7, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
position: relative;
left: 780px;
bottom: 300px;
/* display: flex;
justify-content: center;
align-items: center;
margin-left: 50px;
margin-top: 45px; */

}

.heading3{
  margin-top: -250px;
  font-size: 30px;
  color: rebeccapurple;
  text-decoration: underline;
}


.subheading{
  margin-top: 780px;
  margin-right: 600px;
  font-size: 25px;
  color: rebeccapurple;
  text-decoration: underline;
}

.para3{
border: 1px solid transparent;
width: 500px;
height: auto;
background-color: rgb(181, 166, 197);
background: url(assets/images/background3.png);
background-position: center;
background-size: cover;
text-align:justify;
font-size: 18px;
padding: 10px;
border-radius: 8px 8px 8px 8px;
box-shadow: rgba(7, 7, 7, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
position: absolute;
right: 810px;
bottom: -1300px;

}

.subheading1{
  margin-top: -30px;
  margin-left: 580px;
  font-size: 25px;
  color: rebeccapurple;
  text-decoration: underline;
}

.para4{
border: 1px solid transparent;
width: 500px;
height: auto;
background-color: rgb(181, 166, 197);
background: url(assets/images/background3.png);
background-position: center;
background-size: cover;
text-align:justify;
font-size: 18px;
padding: 10px;
border-radius: 8px 8px 8px 8px;
box-shadow: rgba(7, 7, 7, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
position: absolute;
right: 220px;
bottom: -1300px;

}

.subheading2{
  margin-top: 260px;
  margin-right: 600px;
  font-size: 25px;
  color: rebeccapurple;
  text-decoration: underline;
}

.para5{
border: 1px solid transparent;
width: 500px;
height: auto;
background-color: rgb(181, 166, 197);
background: url(assets/images/background3.png);
background-position: center;
background-size: cover;
text-align:justify;
font-size: 18px;
padding: 10px;
border-radius: 8px 8px 8px 8px;
box-shadow: rgba(7, 7, 7, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
position: absolute;
right: 810px;
bottom: -1620px;

}

.subheading3{
  margin-top: -20px;
  margin-left: 580px;
  font-size: 25px;
  color: rebeccapurple;
  text-decoration: underline;
}

.para6{
border: 1px solid transparent;
width: 500px;
height: auto;
background-color: rgb(181, 166, 197);
background: url(assets/images/background3.png);
background-position: center;
background-size: cover;
text-align:justify;
font-size: 18px;
padding: 10px;
border-radius: 8px 8px 8px 8px;
box-shadow: rgba(7, 7, 7, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
position: absolute;
right: 220px;
bottom: -1620px;

}



 .Table{
background: url(assets/images/background3.png);
background-position: center;
background-size: cover;
margin: 50px;
position: absolute;
left: 380px;
font-size: 15px;
}

.table1{
/* width: 80%;
height: 80px; */
font-size: 22px;
color: rebeccapurple;
background-color: rgb(10, 10, 10);
}

th{
  text-align: center;
  padding: 10px;
  border-radius: 8px 8px 8px 8px;

}

.table1, th, td, tr{
  border: 1px solid black;
  padding: 5px;
  border-radius: 2px 2px 2px 2px;
  box-shadow: rgba(154, 153, 153, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}




